apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "timescale.fullname" . }}
  labels:
    {{- include "timescale.labels" . | nindent 4 }}
    app.kubernetes.io/component: database
spec:
  serviceName: {{ include "timescale.fullname" . }}
  replicas: 1
  selector:
    matchLabels:
      {{- include "timescale.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: database
  template:
    metadata:
      labels:
        {{- include "timescale.labels" . | nindent 8 }}
        app.kubernetes.io/component: database
    spec:
      
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      containers:
      - name: {{ include "timescale.name" . }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}

        env:
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ if .Values.postgresql.existingSecret }}{{ .Values.postgresql.existingSecret }}{{ else }}{{ include "timescale.fullname" . }}-credentials{{ end }}
              key: postgres-password

        - name: POSTGRES_USER
          value: "{{ .Values.postgresql.user }}"
        - name: POSTGRES_DB
          value: "{{ .Values.postgresql.database }}"
        - name: PGDATA
          value: "/var/lib/postgresql/pgdata"

        args:
        - "-c"
        - "config_file=/etc/postgresql/custom.conf"

        ports:
        - containerPort: 5432

        resources:
          {{- toYaml .Values.resources | nindent 10 }}

        volumeMounts:
        - name: data
          mountPath: /var/lib/postgresql
        - name: config
          mountPath: /etc/postgresql/custom.conf
          subPath: custom.conf

      volumes:
      - name: config
        configMap:
          name: {{ include "timescale.fullname" . }}-config
  
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: {{ .Values.persistence.size }}
      storageClassName: {{ .Values.persistence.storageClass }}